* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #e60000; /* Vermelho Porsche */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

nav ul {
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f5a623; /* Cor laranja ao passar o mouse */
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #e60000; /* Vermelho Porsche */
}

section ul {
    list-style-type: none;
}

section ul li {
    margin: 10px 0;
}

section a {
    color: #e60000; /* Vermelho Porsche */
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
